// Font paths
// -------------------------

@font-face {
  font-family: "steer";
  src: url("../fonts/steer_d44d48b957cc6e5afbfe1fbc04546125.eot");
  src: url("../fonts/steer_d44d48b957cc6e5afbfe1fbc04546125.eot?#iefix") format("embedded-opentype"),
       url("../fonts/steer_d44d48b957cc6e5afbfe1fbc04546125.woff2") format("woff2"),
       url("../fonts/steer_d44d48b957cc6e5afbfe1fbc04546125.woff") format("woff"),
       url("../fonts/steer_d44d48b957cc6e5afbfe1fbc04546125.ttf") format("truetype"),
       url("../fonts/steer_d44d48b957cc6e5afbfe1fbc04546125.svg#steer") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "steer";
    src: url("../fonts/steer_d44d48b957cc6e5afbfe1fbc04546125.svg#steer") format("svg");
  }
}