// Font paths
// -------------------------

@font-face {
  font-family: "steer";
  src: url("../fonts/steer_f8748b8fe35ad52be7dea41a98f701ea.eot");
  src: url("../fonts/steer_f8748b8fe35ad52be7dea41a98f701ea.eot?#iefix") format("embedded-opentype"),
       url("../fonts/steer_f8748b8fe35ad52be7dea41a98f701ea.woff2") format("woff2"),
       url("../fonts/steer_f8748b8fe35ad52be7dea41a98f701ea.woff") format("woff"),
       url("../fonts/steer_f8748b8fe35ad52be7dea41a98f701ea.ttf") format("truetype"),
       url("../fonts/steer_f8748b8fe35ad52be7dea41a98f701ea.svg#steer") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "steer";
    src: url("../fonts/steer_f8748b8fe35ad52be7dea41a98f701ea.svg#steer") format("svg");
  }
}