// Variables
// --------------------------


$icons8-css-prefix: "icons8";
$icons8-font-name: "steer";
$icons8-font-path: "../fonts";

$icons8-var-acrobatics: "\f109";
$icons8-var-attack: "\f10d";
$icons8-var-basketball-ball: "\f10b";
$icons8-var-cyclist: "\f108";
$icons8-var-dumbbell: "\f103";
$icons8-var-fight-gloves: "\f106";
$icons8-var-golf-ball: "\f107";
$icons8-var-handball: "\f105";
$icons8-var-rower-in-canoe: "\f10a";
$icons8-var-rugby: "\f104";
$icons8-var-running-person: "\f101";
$icons8-var-soccer-ball: "\f102";
$icons8-var-soccer-ball-outline: "\f10c";
$icons8-var-swimming: "\f100";
